# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
DerivedData/
*.xcuserstate

# Build artifacts
*.dSYM.zip
*.dSYM
*.o
*.a
